In [1]:
from scenarios import generate_cost_projections, generate_scenario_attitudes, MODES_2020, FAST_TRANSITION_MODES_AND_YEARS

generate_scenario_attitudes(MODES_2020, FAST_TRANSITION_MODES_AND_YEARS).tail()

c:\src\canadopt\abetam\scenarios\__init__.py:45: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  scenario_df = pd.concat([mode_df, empty_df]).sort_index().interpolate()

,Electric furnace,Gas furnace,Heat pump,Oil furnace,Wood or wood pellets furnace
2046,0.2,0.05,0.95,0.05,0.2
2047,0.2,0.05,0.95,0.05,0.2
2048,0.2,0.05,0.95,0.05,0.2
2049,0.2,0.05,0.95,0.05,0.2
2050,0.2,0.05,0.95,0.05,0.2

In [2]:
import pandas as pd
costs = generate_cost_projections(learning_rate=11.1, write_csv=True)
costs

c:\src\canadopt\abetam\scenarios\__init__.py:112: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  costs = pd.concat([empty_frame, costs]).sort_index(level=(1, 0)).interpolate()

,,Electric furnace,Gas furnace,Heat pump,Oil furnace,Wood or wood pellets furnace
year,variable,,,,,
2000,annuity_factor,0.086,0.101,0.11,0.100,0.098
2001,annuity_factor,0.086,0.100,0.11,0.099,0.098
2002,annuity_factor,0.086,0.098,0.11,0.098,0.098
2003,annuity_factor,0.086,0.097,0.11,0.097,0.098
2004,annuity_factor,0.086,0.096,0.11,0.095,0.098
...,...,...,...,...,...,...
2045,specific_fuel_emission,0.020,0.200,0.02,0.500,0.150
2046,specific_fuel_emission,0.020,0.200,0.02,0.500,0.150
2047,specific_fuel_emission,0.020,0.200,0.02,0.500,0.150
2048,specific_fuel_emission,0.020,0.200,0.02,0.500,0.150
2049,specific_fuel_emission,0.020,0.200,0.02,0.500,0.150

## Raise gas price by increased carbon tax

In [1]:
import pandas as pd
from data.canada import end_use_prices
old_end_use_prices = end_use_prices.copy()

In [2]:
from scenarios import update_price_w_new_CT, CT
from functools import partial
new_CT = CT * 2

update_prices = partial(update_price_w_new_CT, new_CT=new_CT)

end_use_prices["Price (ct/kWh)"] = end_use_prices[["Year", "Price (ct/kWh)","Type of fuel","GEO"]].apply(update_prices, axis=1)

Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2030,price=7.535
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2031,price=7.5
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2032,price=7.457
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2033,price=7.425
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2034,price=7.375
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2035,price=7.328
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2036,price=7.272
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2037,price=7.218
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2038,price=7.161
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2039,price=7.101
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2040,price=7.04
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2041,price=6.981
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2042,price=6.921
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2043,price=6.865
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2044,price=6.804
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2045,price=6.744
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2046,price=6.676
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2047,price=6.615
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2048,price=6.552
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2049,price=6.489
Share of carbon tax > 1 in Newfoundland and Labrador. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2050,price=6.42
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2030,price=8.044
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2031,price=8.012
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2032,price=7.972
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2033,price=7.944
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2034,price=7.9
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2035,price=7.857
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2036,price=7.806
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2037,price=7.756
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2038,price=7.705
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2039,price=7.649
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2040,price=7.592
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2041,price=7.536
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2042,price=7.48
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2043,price=7.427
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2044,price=7.369
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2045,price=7.314
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2046,price=7.25
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2047,price=7.193
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2048,price=7.134
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2049,price=7.076
Share of carbon tax > 1 in Northwest Territories. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2050,price=7.013
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2030,price=3.116
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2031,price=3.116
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2032,price=3.114
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2033,price=3.116
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2034,price=3.113
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2035,price=3.111
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2036,price=3.105
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2037,price=3.1
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2038,price=3.094
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2039,price=3.086
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2040,price=3.078
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2041,price=3.07
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2042,price=3.062
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2043,price=3.056
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2044,price=3.047
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2045,price=3.039
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2046,price=3.028
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2047,price=3.02
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2048,price=3.011
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2049,price=3.002
Share of carbon tax > 1 in Nunavut. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2050,price=2.991
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2030,price=8.044
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2031,price=8.012
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2032,price=7.972
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2033,price=7.944
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2034,price=7.9
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2035,price=7.857
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2036,price=7.806
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2037,price=7.756
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2038,price=7.705
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2039,price=7.649
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2040,price=7.592
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2041,price=7.536
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2042,price=7.48
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2043,price=7.427
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2044,price=7.369
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2045,price=7.314
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2046,price=7.25
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2047,price=7.193
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2048,price=7.134
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2049,price=7.076
Share of carbon tax > 1 in Nunavut. Check fuel_type='Heating oil',spec_em=0.5,CT[year]=0.17,year=2050,price=7.013
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2030,price=3.116
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2031,price=3.116
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2032,price=3.114
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2033,price=3.116
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2034,price=3.113
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2035,price=3.111
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2036,price=3.105
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2037,price=3.1
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2038,price=3.094
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2039,price=3.086
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2040,price=3.078
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2041,price=3.07
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2042,price=3.062
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2043,price=3.056
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2044,price=3.047
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2045,price=3.039
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2046,price=3.028
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2047,price=3.02
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2048,price=3.011
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2049,price=3.002
Share of carbon tax > 1 in Yukon. Check fuel_type='Natural gas',spec_em=0.2,CT[year]=0.17,year=2050,price=2.991

In [3]:
end_use_prices.to_csv("data/canada/residential_GNZ_end-use-prices-2023_ct_per_kWh.csv", index=False)

In [4]:
import importlib
importlib.import_module("data.canada")

In [5]:
end_use_prices == old_end_use_prices

      Year   GEO  Price (ct/kWh)  Type of fuel
0     True  True            True          True
1     True  True            True          True
2     True  True            True          True
3     True  True            True          True
4     True  True            True          True
...    ...   ...             ...           ...
1789  True  True           False          True
1790  True  True           False          True
1791  True  True           False          True
1792  True  True           False          True
1793  True  True           False          True

[1794 rows x 4 columns]